{% extends 'art_base.html' %}
{% import 'page.html'as pg %}
{% block content %}
    {% for msg in get_flashed_messages(category_filter=['ok']) %}
    <p style="color:green">{{ msg }}</p>
    {% endfor %}
<div class="col-md-9">
                <div class="card">
                     <div class="card-header">{{ title }}</div>
                     <div class="card-body">

                         <table class="table table-bordered">
                         <thead>
                         <tr>
                             <th>标题</th>
                             <th>分类</th>
                             <th>封面</th>
                             <th>作者</th>
                             <th>发布时间</th>
                             <th>管理操作</th>
                         </tr>
                         </thead>
                          <tbody>
                          {% for v in page_data.items %}
                         <tr>
                             <td> {{ v.title }}</td>
                             <td>{{ category[v.category-1][1]}}</td>
                             <td> <img src='/static/uploads/{{ v.logo }}' style="width:75px;height:40px" ></td>
                             <td>{{ session['user'] }}</td>
                                <td>{{ v.add_time }}</td>
                          <td>
                             <a class="btn btn-sm btn-outline-success" href="{{ url_for('home.art_edit',id=v.id) }}">编辑</a>
                             <a class="btn btn-sm btn-outline-danger" href="{{ url_for('home.art_del',id=v.id) }}">删除</a>
                         </td>
                         </tr>
                         {% endfor %}
                          </tbody>

                      </table>
{{ pg.page(page_data,'home.art_list') }}

                     </div>
                </div>

    </div>
{% endblock %}